.bg{
    background: #e2e6ea;
    width: 100%;
    height: 100vh;
    background-size: 200%;
}

.form-container{
    position: absolute;
    top: 15vh;
    background: #fefefe;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

#imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginTitle {
    text-align: center;
    line-height: 1.5;
}

@media only screen and (max-width: 678px) {
    .bg{
        background-size: 300%;
    }
}